
[submodule "oqd-cloud"]
	path = "oqd-cloud"
	url = https://github.com/OpenQuantumDesign/oqd-cloud
[submodule "oqd-core"]
	path = oqd-core
	url = https://github.com/OpenQuantumDesign/oqd-core
[submodule "oqd-analog-emulator"]
	path = oqd-analog-emulator
	url = https://github.com/OpenQuantumDesign/oqd-analog-emulator
