pymdown-extensions==10.11.2
mkdocstrings==0.26.1
mkdocs-material
mkdocstrings-python
mdx_truly_sane_lists
notebook==6.4.12
jupyter==1.1.1
jupyter_contrib_nbextensions==0.7.0
mkdocs-jupyter==0.25.0
mkdocs-monorepo-plugin==1.1.0